body {
    font-family: 'M PLUS 1p', sans-serif;
}

.h1 {
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
}

.header {
    padding: 25px;
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
}

.header_span {
    color: #E8C23E;
}

.baner {
    box-sizing: border-box;
    padding-top: 206px;
    padding-left: 80px;
    background-image: url("../img/baner.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    box-sizing: border-box;
    font-size: 48px;
    width: 51%;
    color: #FFFFFF;
    padding-left: 30px;
    background-image: url("../img/flag.png");
    height: 272px;
    background-repeat: no-repeat;
}

.main {
    padding: 0 80px;
}
.display{
    display: flex;
}
.card {
    border: 1px solid rgb(112, 109, 109);
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 44px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card_margin {
    margin: 0 4.5%;
}

.card_img {
    width: 100%;
}

.card_title {
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    padding: 15px;
    box-sizing: border-box;
}

.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 15px;
    box-sizing: border-box;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.title {
    text-align: center;
}


.link {
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    display: inline-block;
    margin: 41px 0;
    text-align: center;
    text-decoration: none;
}
.a {
    text-decoration: none;
}

.btn {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    text-decoration: none;
}
.color_span{
    color: #FFFFFF;
}
.footer {
    background-color: #2F4A4B;
    text-align: center;
}

.email {
    font-size: 36px;
    font-family: 'Marcellus SC';
    color: #A89D9D;
}

.tel {
    margin-top: 21px;
    font-size: 36px;
    font-family: 'Marcellus SC';
    
}
.color_contact{
    color: #A89D9D;
}

.sm {
    display: inline-block;
}

.contacts {
    margin-top: 21px;
    margin-bottom: 27px;
}