@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=PT+Sans:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

body {
    width: 100%;
    height: 959px;
    background: linear-gradient(180deg, #3E718E 0%, #64969B 100%);   
    font-size: 10px;
    font-family: "Space Grotesk";
    font-weight: 700;
    display: flex;
}

main {
  margin: 0 auto;
  padding-top: 3%;
}


img {
    padding-top: 10px;
    padding-left: 32px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-right: 55px;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

label {
    font-size: 1.1rem;
    
}


input{
    display: block;
    width: 353px;
    height: 25px;
    border: 1px solid #CCCCCC;
    font-weight: 400;
    font-size: 0.7rem;
    color: #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
   
}

.container {
    width: 1000px;
    height: 667px;
    background-color: #FFFFFF;
    display: flex;
}
.box-right a {
    text-decoration: none;
}
.box-left {
    width: 55%;
    height: 667px;
    background-image: url(../img/Stroke\ 5.png);
}

.box-right {
    width: 45%;
    height: 667px;
    background: linear-gradient( 155deg, #517879 0%, #214159 100%);
}
.box-content {
    padding-left: 97px;
    padding-top: 58px;
}
 span{
    display: inline-block;
    display: flex;
    font-size: 0.7rem;
    line-height: 1.1rem;
    color: #A8A8A8;
}
input[type="password"]{
    position: relative;
    
}
input[type="password"]::placeholder { 
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #CCCCCC;
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
}

input[type="submit"]{
    background-color: #284A5E;
    margin-top: 44px ;
}
.user{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    color: #C4C4C4;
    margin: 0;
    padding-left: 80px;
}
.login{
    font-size: 1.1rem;
    font-weight: 700;
    color: #476D73;
    margin: 0;
    padding-left: 10px;
}
.box-right{   
  
    height: 667px; 
    color: #FFFFFF;
    font-size: 1.1rem;    
    font-weight: 700;
    box-shadow: 0 0 10px rgba(33, 65, 89, 1);
}
nav{
    text-align: end;
    padding-right: 12px;
    padding-top: 8px;
    
}
nav > a{
    color: #FFFFFF;
    line-height: 24px;

}
.quote {
    position: relative;
    
}
.quote h1{ 
    font-size: 3.3rem;
    font-weight: 700;
    text-align: center;
    padding-top: 200px;
    text-shadow: 1px 1px 1px;
    opacity: 95%;
    margin: 0;  
}
.quote p{
    padding-left: 70px;
    margin: 0;
    text-shadow: 1px 1px 1px;
    opacity: 95%;
   
}
nav :last-child{
    padding-left: 24px;
}
