@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=PT+Sans:wght@400;700&family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Space+Grotesk:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

html {
    font-size: 10px;
}

body {
    
    font-family: 'Work Sans';
}

div {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
}

.grid-main {
    margin: 0 auto;
    width: 55%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1.5rf 1fr 1fr);
    grid-template-rows: repeat(7, 1ft);
    gap: 4%;
    padding: 2% 4% 4% 4%;
    background-color: rgba(255, 176, 132, 1);
}

.item-1 {
    grid-row: 1/7;
    grid-column: 1/2;
    padding-left: 10%;
    box-shadow: 7px 7px ;
    box-sizing: border-box;

}

.item-2 {
    grid-row: 1/3;
    grid-column: 2/4;
    box-shadow: 7px 7px ;

}

.item-3 {
    grid-row: 3/5;
    grid-column: 2/3;
    box-shadow: 7px 7px rgba(41, 167, 30, 1);
}

.item-4 {
    grid-row: 3/6;
    grid-column: 3/4;
    box-shadow: 7px 7px rgba(225, 53, 53, 1);
}

.item-5 {
    grid-row: 7/8;
    grid-column: 1/2;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
    
}

.item-6 {
    grid-row: 5/8;
    grid-column: 2/3;
    box-shadow: 7px 7px rgba(54, 117, 176, 1);
}

.item-7 {
    grid-row: 6/8;
    grid-column: 3/4;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.item-1 h1 {
    font-size: 2.4rem;
    font-weight: 700;

}

.item-1 img {
    margin-left: 20%;
}

p,
ul {
    font-size: 1.4rem;
    font-weight: 400;

}

span {
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    margin-left: 9%;
}

.item-2 > p,
.item-7 > p {
    margin-left: 9%;
}
.item-3  span{
    color: rgba(41, 167, 30, 1);
}
.item-4  span{
    color: rgba(225, 53, 53, 1);
}
.item-6  span{
    color: rgba(54, 117, 176, 1);
}