@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1p:wght@400;700&family=Marcellus+SC&family=Merriweather:wght@900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
    background-color: #F5F5F5;
    font-family: 'Popins', sans-serif;
}

main {
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.first-box {
    width: 100%;
    height: 650px;
    background-color: #000000;
}

.header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
a.nav-title{
    text-decoration: none;
}
.nav-title {
    color: #FFFFFF;
    padding-top: 1%;
    font-size: 3.2rem;
    margin-left: 47px;
}


.nav-list-ul>li {
    float: left;
    list-style: none;
    font-size: 1.4rem;
    padding-top: 1%;

}

.nav-list-ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-content {
    width: 40%;
    color: #FFFFFF;
    margin-top: 120px;
    margin-left: 115px;
}

.first-title {
    font-weight: 600;
    font-size: 5.4rem;
    margin: 32px 32px 32px 0;

}

.point {
    color: #F6AD09;
}

.first-desc {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    line-height: 36px;
    color: #B2B2B2;
}

.first-baner {
    width: 35%;
    margin-right: 45px;
    position: relative;
}

.img-1 {
    width: 100%;
    position: absolute;
    top: 40px
}

.first-yellowbox {
    width: 220px;
    height: 60px;
    background-color: #F6AD09;
    color: #332200;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    margin-top: 32px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 17px;
    border-radius: 5%;
    text-decoration: none;
    display: block;
}

/*section second box*/
.second-box-title,
.four-box-title {
    font-size: 6.4rem;
    font-weight: 600;
    font-family: 'Popins', sans-serif;
    color: #111111;
    margin-top: 145px;
    margin-left: 170px;

}

.second-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 282px;
}

.card {
    flex-grow: 1;
    margin: 20px;
}

.card_title {
    color: #000000;
    font-weight: 600;
    font-size: 3.2rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.card_title::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: #FFBB00;
    margin: 0 8px 0 0;
}

.card_img {
    width: 100%;
}

.card_subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Roboto';
    color: #595959;
    padding-left: 21px;
}

/*section "third-box"*/
.third-box {
    width: 100%;
    height: 1020px;
    background-color: #000000;
    display: flex;
}
.contener{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-left: auto;
}
.third-content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 160px 110px 160px 210px;
}


.third-h2 {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Roboto';
    color: #B2B2B2;
    display: block;
    margin-bottom: 20px;
}
p.first-desc{
    margin-bottom: 20px;
}
.third-title {
    font-weight: 600;
    font-size: 5.4rem;
    margin-bottom: 32px;
}

.third-yellow {
    display: inline-block;
    color: #FFBB00;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 28px;
}

.third-line {
    border-bottom: 4px solid #FFBB00;
    width: 258px;
}

.third-end {
    display: flex;
    gap: 40px;
}

.third-h3 {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 8px;
    width: max-content;
}

.third-h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: #FFBB00;
    margin: 0 8px 0 0;
}

.third-text {
    color: #B2B2B2;
    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 24px;
    
}

.third-text-2 {
    color: #B2B2B2;
    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 24px;
    padding-right: 25px;
}

.third-baner {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    position: relative;
   
}

.third-img { 
    height: 110%;
    position: absolute;
    top: -40px;
    left: -80px;
}

/*section "four-box"*/

section.four-box>.four-box-title {
    padding-top: 43px;
    padding-bottom: 43px;
}

.four-box-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 95px;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    width: 280px;
    height: 115px;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    padding: 30px 50px 40px 50px;
    margin-bottom: 13px;
}


/*section "quote" */
.quote {
    display: flex;   
}

.quote-baner {
    width: 55%;    
}

.quote-content {
    display: flex;
    width: 45%;
    background-color: #FFBB00;

}

.quote-content p {
    font-family: 'Merriweather', serif;
    font-size: 2.1rem;
    line-height: 2.6rem;
    color: #332200;
    font-style: italic;
    font-weight: 900;
    position: relative;
}

.quote-content span {
    color: #664400;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;

}

.quote-content p::before {
    content: "“";
    font-size: 5rem;
    left: -35px;
    top: -5px;
    position: absolute;
    color: #f1a409;
}

.quote-content p::after {
    content: "”";
    font-size: 5rem;
    top: 135px;
    position: absolute;
    color: #f1a409;
}

.quote-content blockquote {
    padding-top: 270px;
    padding-right: 200px;
}

/*article seguros-box*/
.seguros{
    height: 753px;
    background-color: #161616;
}

.container{
    box-sizing: border-box;
    padding-bottom: 60px;
    padding-top: 60px;
}
.seguros-box {
    display: flex;
    align-items: center; 
    justify-content: center;   
    margin-top: 73px;
}

.seguros-title {
    display: inline;
    font-size: 6.4rem;
    font-weight: 600;
    font-family: 'Popins', sans-serif;
    color: #ffffff;
    padding-left: 170px;
}
.seguros-box h3{
    margin: 0;
}
.seguros-items{
    width: 456px;
    height: 381px;
    background-color: #000000;
    border-radius: 4px;
    margin-right: 40px;
    padding-left: 34px;
    box-sizing: border-box;
    padding: 32px 32px 32px 60px;
}

.seguros-items:hover{
    width: 456px;
    height: 456px;
    color: #FFBB00;
}


.seguros-items{
    width: 456px;
    height: 381px;
    background-color: #000000;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 32px 32px 32px 60px;
    border-radius: 4px;
}


.seguros-items:hover{
    width: 456px;
    height: 456px;
    background-color: #000000;
    padding: 32px 32px 0 60px;
} 
.seguros-items > h3:hover{
    color: #FFBB00;
}

.seguros-items > h3 {
    font-style: 600 "Poppins";
    color: #9C9C9C;
    font-size: 3.6rem;
    display: inline-block;   
}

.price {
    font-weight: 600;
    font-family: "Poppins";
    color: #FFFFFF;
    font-size: 3.6rem;
    display: inline-block;
    padding-left: 125px;
   
}
.price-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
    color: #9C9C9C;
    padding-left: 307px
}
.seguros-list {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 32px;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin-bottom: 32px;
}


.seguros-list li::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: #FFBB00;
    margin: 0 8px 0 0;
}

.seguros-box a {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    color: #CCCCCC;
    background-color: #2E2E2E;
    padding: 16px 32px;
    border-radius: 4px;
}

/*footer*/
.footer{
    background-color: #000000;
    height: 100%;
}
.footer-container{
    box-sizing: border-box;
    padding: 56px 25px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.015em;
    display: flex;
    justify-content: space-around;
}
.footer h3{
    color: #FFFFFF;
    font-family:'Roboto';
    font-weight: 500;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
}
.contacts{
    color: #B2B2B2;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 1.8rem;
    list-style: none;
    padding: 0;
}
.contacts a{
    color: #B2B2B2;
}
.footer-container a{
    text-decoration: none;
}
.contacts li{
    margin-bottom: 16px;

}
.contacts li>a:hover{
    color: #f1a409;
}
.sm {
    display: flex;
    gap: 32px;
}
.copiraiting{
    font-size: 1.8rem;
    font-family: 'Roboto';
    color: #9C9C9C;
    letter-spacing: 0.015em;
    font-weight: 400;
    padding-bottom: 46px;
    padding-left: 120px;   
}


