body {
    background-color: #E5E5E5;
}

/*Speechify square*/
.box_square {
    background-color: #FFCE22;
    width: 512px;
    height: 512px;
    margin-top: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}


.content_blue {
    background-image: url(../img/Blue.png);
    height: 271.50px;
    width: 512px;
}

.img_wave {
    padding-top: 147px;
    padding-left: 52.61px;
}

/*Speechify circle*/
.content_yellow {
    width: 444px;
    height: 444px;
    background-color: #FFCE22;
    border: 1px #FFCE22 solid;
    overflow: hidden;
    border-radius: 230px;
}

.box_circle {
    background-color: #FFFFFF;
    border: 34px #FFFFFF solid;
    width: 512px;
    height: 512px;
    margin: 100px 100px 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.content_blue_2 {
    background-image: url(../img/Blue.png);
    height: 271.5px;

}

.img_wave_circle {
    width: 358px;
    height: 203.74px;
    padding-top: 244px;
    padding-left: 74px;
}

/*dia flag*/
.box_dia {
    width: 512px;
    height: 512px;
    margin-top: 100px;
    background-color: #000000;
    text-align: center;
    padding-top: 128.64px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.img_flag {
    padding-top: 32.48px;
}

