
.header {
    width: 800px;
    height: 200px;
    border: 2px solid #FF0000;
    color: #808080;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.nav {
    width: 100px;
    height: 400px;    
    float: left;
    display: block;
    border: 2px solid #FF8C00;

}

.section {
    width: 700px;
    height: 400px;
    float: left;
    display: block;
    border: 2px solid #FF8C00;
    color: #808080;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    
}

.footer {
    display: inline-block;
    width: 800px;
    height: 200px;
    border: 3px solid #808080;
    
}