/*animation first screen*/

.left-photo-2{
    animation: anim-para-left 1s ease;
}
@keyframes anim-para-left {
    0%{
        opacity:0;
        transform: translateX(-1000px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

.left-photo {
    animation: anim-left 2s ease;
} 

@keyframes anim-left {
    0%{
        opacity:0;
        transform: translateX(-9000px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
.right-photo-2
{
    animation: anim-para-right 1s ease;
}
@keyframes anim-para-right {
    0%{
        opacity:0;
        transform: translateX(2000px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

.right-photo {
    animation: anim-right 2s ease;
} 

@keyframes anim-right {
    0%{
        opacity:0;
        transform: translateX(9000px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

/*animation screen second*/
@keyframes el-1{
    from{
        top:0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes el-2{
  
    from{
        top: 0;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 50%;
    }
}
@keyframes el-3{
  
    from{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 50%;
        left: 0;
    }
    50%{
        top: 0;
        left: 0;
    }
    75%{
        top: 0;
        left: 50%;
    }
    to{
        top: 50%;
        left: 50%;  
    }
}
@keyframes el-4{
  
    from{
        top: 50%;
        left: 0;
    }
    25%{
        top: 0;
        left: 0;
    }
    50%{
        top: 0;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 50%;  
    }
    to{
        top: 50%;
        left: 0;
    }
}


