@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1p:wght@400;700&family=Marcellus+SC&family=Merriweather:wght@900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&family=Rosario:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:ital@1&display=swap');
@import url(./animation.css);


html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Rosario";
}

main {
    width: 100%;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;

    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a_logo {
    width: 10%;
    height: 10vh;
    display: inline-block;
    background-color: #FFFCFC;
}

header a img {
    width: 100%;
    min-height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

/*.nav {
    height: 10vh;
    margin: 0;
    list-style: none;
    display: flex;
    float: right;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.6rem;
}*/

.nav a {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFCFC;

}

.first-screen {
    min-height: 90vh;
    box-sizing: border-box;
    justify-content: space-around;
}

.content {
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;

}

.content>div {
    width: 22%;
}

.left-photo,
.right-photo {
    height: 65%;
    align-self: center;
    display: flex;
}

.left-photo-2,
.right-photo-2 {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-photo-2>div:first-child,
.right-photo-2>div:first-child {
    display: flex;
    height: 50%;
    margin-bottom: 1.5rem;

}

.left-photo-2>div:last-child,
.right-photo-2>div:last-child {
    display: flex;
    height: 50%;
}



/*second-screen*/

.second-screen {
    height: 90vh;
    width: 100%;
    display: flex;

}

.left,
.right {
    width: 50%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.5rem;
    position: relative;
    height: 90vh;
    margin-left: 3%;

}

.left>div {
    width: 33%;
    position: absolute;
}


.elipse-1 {
    top: 0;
    left: 0;
    animation: el-1 5s linear 5;
}

.elipse-2 {
    top: 0;
    left: 50%;
    animation: el-2 5s linear 5;
}

.elipse-3 {
    top: 50%;
    left: 50%;
    animation: el-3 5s linear 5;
}

.elipse-4 {
    top: 50%;
    left: 0;
    animation: el-4 5s linear 5;
}

.second-screen h3 {
    font-size: 2.8rem;
    font-style: italic;
    margin: 2px;
    text-align: center;
}


/*third screen*/
.thrird-screen {
    height: 90vh;

}

.h1 {
    font-size: 6.6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.team {
    display: flex;
    justify-content: space-around;
    height: 75vh;
}

.team>div {
    width: 20%;
    height: 90%;
    display: flex;
    position: relative;
}

.team:hover>div {
    filter: brightness(0.5);
}

.team>div:hover {
    filter: none;
}

.team .name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(163, 83, 10, 0.7);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 250, 250, 1);
    font-size: 3rem;
    font-family: 'Volkhov';
    border-radius: 0 0 18px 18px;
}

.team>div:hover .name {
    height: 100px;
}

/*four-screen*/
.footer {
    width: 100%;
    height: 90vh;
}

.box {
    display: flex;
    width: 100%;
    height: 70%;

}

.information {
    width: 100%;
    height: 30%;
}

.box-left {
    width: 60%;

}

.h2 {
    width: 80%;
    display: inline-block;
    font-size: 5rem;
    font-family: 'rosario';
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin: 2% 0 2% 3%;
}

form {
    display: flex;
    background-color: rgba(229, 229, 229, 1);
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

form>div {
    width: 100%;
}

input {
    border: rgba(229, 229, 229, 1);
    display: inline-block;
    width: 45%;
    height: 80%;
    font-size: 2.2rem;
    font-family: 'Rosario';
    color: rgba(0, 0, 0, 0.5);
}

.textarea {
    display: inline-block;
    width: 93%;
    resize: none;
    border: rgba(229, 229, 229, 1);
    justify-content: center;
    margin-left: 2%;
    font-size: 2.6rem;
    font-family: 'Rosario';
    color: rgba(0, 0, 0, 0.5);

}

.form div:first-child {
    margin: 2% 2% 2% 2%;
}

input[type="text"] {
    margin-right: 5%;
}

.box-right {
    width: 40%;
}

iframe {
    width: 80%;
    height: 95%;
    margin-top: 5%;
}

.footer-information {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.footer-information div {
    width: 25%;
}

.social-media a {
    text-decoration: none;
    color: #000000;
}

h3 {
    margin: 0;
}

.contacts,
.hourse,
.social-media {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.contacts>p {
    margin: 0;
}

span {
    font-style: normal;
}

ul {
    list-style: none;
}




@media screen and (max-width: 768px) {
    .nav{
        width: 70%;
    }

    /* first screen - galery (media < 768px) */
    .first-screen{
        margin-bottom: 3%;
    }

    .first-screen  div{
        margin-top: 3%;
    }
    .content {
        display: block;
        height: auto;

    }

    .left-photo,
    .left-photo-2,
    .right-photo-2,
    .right-photo {
        width: 100%;
        margin: 0 auto;
    }

    .left-photo {
        animation: anim-left 1s ease;
    }

    @keyframes anim-left {
        0% {
            opacity: 0;
            transform: translateX(-9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .left-photo-2 div:first-child {
        animation: anim-left-first-child 2s ease;
    }

    @keyframes anim-left-first-child {
        0% {
            opacity: 0;
            transform: translateX(9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .left-photo-2 div:last-child {
        animation: anim-left-last-child 1s ease;
    }

    @keyframes anim-left-last-child {
        0% {
            opacity: 0;
            transform: translateX(-9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .right-photo-2 div:first-child {
        animation: anim-right-first-child 2s ease;
    }

    @keyframes anim-right-first-child {
        0% {
            opacity: 0;
            transform: translateX(9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .right-photo-2 div:last-child {
        animation: anim-right-last-child 1s ease;
    }

    @keyframes anim-para-right-last-child {
        0% {
            opacity: 0;
            transform: translateX(-9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .right-photo {
        animation: anim-right 2s ease;
    }

    @keyframes anim-right {
        0% {
            opacity: 0;
            transform: translateX(9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* second screen - servises (media < 768px) */

    .right {
        display: none;
    }

    .left {
        margin: 0 0 0 30%;
    }

    /* third screen - team (media < 768px) */

    .thrird-screen,
    .team {
        display: block;
        height: auto;
    }

    .h1 {
        text-align: center;
    }

    .meredith,
    .jason,
    .ryan,
    .james {
        width: 100%;
        margin: 0 auto;

    }

    .team>div:hover .name {
        height: 70px;
        transition: height 1.5s;
    }
    .team>div{
        margin-top: 2%;
    }

    /* four screen - contacts us (media < 768px) */

    .footer,
    .box {
        display: block;
        height: auto;
    }

    .box-left,
    .box-right {
        width: 100%;
    }

    .box-left {
        order: 2;
    }

    .box-right {
        order: 1;
        justify-content: center;
    }

    iframe {
            width: 60%;
            height: 72vh;
            margin: 2% 0 2% 17%;
        
    }
    .h2{
        margin: 2% 0 2% 10%;
    }
}





@media screen and (min-width:769px) and (max-width:992px) {
    
    .nav{
        width: 65%;
    }
    
    /* first screen - galery (media 769px - 992px) */

    .content {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;

    }

    .content>div {
        width: 35%;
    }

    .left-photo,
    .left-photo-2,
    .right-photo-2,
    .right-photo {
        width: 100%;
        margin: 0 auto;
    }

    .left-photo {
        animation: anim-left 1s ease;
    }

    @keyframes anim-left {
        0% {
            opacity: 0;
            transform: translateX(-9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .left-photo-2 div {
        animation: anim-left-photo-2 1s ease;
    }

    @keyframes anim-left-photo-2 {
        0% {
            opacity: 0;
            transform: translateX(9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    .right-photo-2 div {
        animation: anim-right-photo-2 1s ease;
    }

    @keyframes anim-right-photo-2 {
        0% {
            opacity: 0;
            transform: translateX(-9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }



    .right-photo {
        animation: anim-right 1s ease;
    }

    @keyframes anim-right {
        0% {
            opacity: 0;
            transform: translateX(9000px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }





    /* second screen - servises (media 769px-992px) */
    .first-screen {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .second-screen {
        flex-direction: column;
        height: auto;
    }

    .right {
        order: 1;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .left {
        order: 2;
        margin-left: 28%;
    }

    

    /* third screen - team (media 769px-992px) */

    .thrird-screen,
    .team {
        height: auto;
    }

    .team {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    .h1 {
        text-align: center;
    }

    .team>div {
        width: 35%;
        margin-bottom: 3%;

    }

    .team>div:hover .name {
        height: 70px;
        transition: height 1.5s;
    }


    /* four screen - contacts us (media 768px - 992px) */

    .footer,
    .box {
        display: flex;
        height: auto;
        flex-direction: column;
    }
.h2 {
    margin: 2% 0 2% 10%;
}
    .footer-information {
        order: 1;
    }

    .box {
        order: 2;
    }

    .box-left,
    .box-right {
        width: 100%;
    }

    iframe {
        width: 60%;
        height: 72vh;
        margin: 2% 0 2% 17%;
    }

}



@media screen and (min-width:1620px) {

    /* media 1620px */
    header {
        min-width: 90vh;
    }

    main {
        min-width: 90vh;
    }

    body {
        margin: 0 5vw;
    }
}