html {
    font-size: 10px;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #DCDCDC;
}

a {
    text-decoration: none;
}

.nav {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #202846;
    font-size: 2.4rem;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
}

.nav_logo {
    padding-left: 5%;
}

.nav_ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
}

.nav li {
    list-style: none;
    padding: 1%;
    text-align: center;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav a:hover {
    color: #AEAEE2;
}


.h1 {
    background-color: #C6C6DC;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 400;
    max-height: 140px;
    padding: 2% 10%;

}

.main_list {
    width: 80%;
    height: 70px;
    margin: 3% auto;
    background-color: #E8E8E8;
    font-size: 2.8em;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.main_list:hover{
    border: 1px solid grey;
    
}

.build {
    width: 80%;
    margin: 0 auto;
}

.head_btn {
    position: absolute;
    top: 35px;
    right: 10px;
}

/*main content*/
.card {
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 3.6rem 0;
}

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card_img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card_content {
    width: 50%;
    height: 90%;
}

.card_img img {
    height: 100%;
}

.card_content-title {
    color: #353C57;
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    border-bottom: 3px solid white;
    margin-bottom: 1rem;
}

.card_content-descripion {
    font-size: 2.2rem;
    color: #202846;
    text-align: center;
    background-color: #D7D7DD;
    padding: 1rem;
}

.card_content-descripion_4 {
    font-size: 2.2rem;
    color: #202846;
    text-align: center;
    background-color: #D7D7DD;
    padding: 1rem;
}

.card-star,
.card-btn {
    position: absolute;
}

.card-star {
    right: 0.5rem;
    top: 0.5rem;
}

.card-star_style {
    fill: white;
}

.build:hover>.card>.card_content>.card-star>.card-star_style {
    fill: #FFFF00;
}

.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}

.card-btn:hover {
    background-color: #EF075B;
}

/*Fixed*/
#fixed-div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5557689E;
    position: fixed;
    bottom: 70px;
    right: 20px;
}

#cursor {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

/*section собистий кабінет */
.cabinet {
    background-color: #C6C6DC;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 400;
    max-height: 140px;
    padding: 2% 10%;
}

.card_info {
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    margin: 2% auto;
    width: 70%;
}

.card_info_left { 
    width: 40%;
    margin: 6% 2% 6% 8%;
}
.card_info_left > div:first-child { 
    margin-left: 7%;
}
.card_info_right {
    width: 60%;   
    font-weight: 700;
    font-style: italic;
    font-size: 2.8rem;
    color: #353C57;
    margin: 13% 2% 5% 2%;
}

.card_info_right div {
    padding: 2%;
    border-bottom: 3px solid #FFFFFF;
}
.card_info_right div:last-child {
    border-bottom: none;
}

.card_btn-settings {
    font-weight: 400;
    font-size: 2.4rem;
    border-radius: 50px;
    padding: 4% 5%;
    margin: 10% 0;
    box-sizing: border-box;
    width: 75%;
    background-color: #484A54;
    text-align: center;
    overflow: hidden;
}

.card_btn-avatar{
    font-weight: 400;
    font-size: 2.4rem;
    border-radius: 50px;
    padding: 4% 5%;
    margin: 10% 0;
    box-sizing: border-box;
    width: 75%;
    background-color: #69749B;
    text-align: center;
}

.card_btn-settings > a,
.card_btn-avatar > a{
    color: white;
}

.mail {
    text-decoration: none;
    color: #353C57;
    font-weight: 400;
}


.sex, .tel, .birthday {
    text-decoration: none;
    color: #353C57;
    font-weight: 400;
}

.card_btn_exit {
    width: 15%;
    font-weight: 400;
    font-size: 2.7rem;
    background-color: #202846;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0.5%;
}

.card_btn_exit a{
    color: white;
}


/*footer*/
.footer_head {
    background-color: #C6C6DC;
    font-size: 4.8rem;
    font-style: italic;
    font-weight: 400;
    max-height: 140px;
    padding: 2% 10%;
}

.footer_title {
    font-size: 3.2rem;
    font-weight: 400;
    width: 244px;
    border-bottom: 3px solid #202846;
}

.footer_text {
    font-size: 3rem;
    font-weight: 400;
    width: 250px;
}

#mail {
    text-decoration: none;
    color: #000000;
}

#call {
    text-decoration: none;
    color: #000000;
}

.map {
    width: 577px;
    height: 335px;
    border: 3px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 40px;
}

#footer_contacts {
    width: 75%;
    margin: 0 auto;
}

.footer_contacts-1 {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}

.footer_contacts-2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.copirating_box {
    width: 100%;
    height: 9rem;
    background-color: #202846;
}

.copirating_text {
    width: 70.9rem;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    padding: 21px 0 0 50px;
}